## Checking co integration between CPI food and CPI all comodities

In [1]:
import pandas as pd
import statsmodels
import statsmodels.tsa.stattools

In [2]:
x = pd.read_csv('Combine food.csv',index_col=0)
y = pd.read_csv('All comodities CPI.csv',index_col=0)
df = pd.concat([y,x],axis=1)
df.columns = ['y','x']  
df.head()

                y      x
Date
2013-01-01  104.6  105.4
2013-02-01  105.3  106.4
2013-03-01  105.5  106.5
2013-04-01  106.1  107.5
2013-05-01  106.9  109.1

In [3]:
statsmodels.tsa.stattools.coint(y, x, trend='c', method='aeg', maxlag=None, autolag='aic', return_results=None)

(-4.220451774184577,
 0.003395864774405574,
 array([-3.99689757, -3.39122839, -3.08253469]))

The null hypothesis is no cointegration. Variables in y and x are assumed to be integrated of order 1, I(1).

If p value <=0.05 then we reject null hypothesis(No Cointegration)

here p-value is less than 0.05 so we reject null hypothesis.

So there exist cointegration.

## Checking co integration between WPI food and WPI all comodities

In [4]:
x = pd.read_csv('monthly data.csv',index_col=0)
y = pd.read_csv('WPI all comodities.csv',index_col=0)
df = pd.concat([y,x],axis=1)
df.columns = ['y','x']  
df.head()

                y      x
Date
2013-01-01  108.0  113.2
2013-02-01  108.4  113.9
2013-03-01  108.6  113.5
2013-04-01  108.6  114.7
2013-05-01  108.6  117.8

In [5]:
statsmodels.tsa.stattools.coint(y, x, trend='c', method='aeg', maxlag=None, autolag='aic', return_results=None)

(-1.3561951020847935,
 0.8121336340517095,
 array([-3.99689757, -3.39122839, -3.08253469]))

The null hypothesis is no cointegration. Variables in y and x are assumed to be integrated of order 1, I(1).

If p value <=0.05 then we reject null hypothesis(No Cointegration)

here p-value is greater than 0.05 so we accept null hypothesis.

So there exist no cointegration.

## Checking co integration between CPI all comodities and WPI all comodities

In [6]:
x = pd.read_csv('All comodities CPI.csv',index_col=0)
y = pd.read_csv('WPI all comodities.csv',index_col=0)
df = pd.concat([y,x],axis=1)
df.columns = ['y','x']  
df.head()

                y      x
Date
2013-01-01  108.0  104.6
2013-02-01  108.4  105.3
2013-03-01  108.6  105.5
2013-04-01  108.6  106.1
2013-05-01  108.6  106.9

In [7]:
statsmodels.tsa.stattools.coint(y, x, trend='c', method='aeg', maxlag=None, autolag='aic', return_results=None)

(-1.6470088681885757,
 0.700646524110106,
 array([-3.99689757, -3.39122839, -3.08253469]))

The null hypothesis is no cointegration. Variables in y and x are assumed to be integrated of order 1, I(1).

If p value <=0.05 then we reject null hypothesis(No Cointegration)

here p-value is greater than 0.05 so we accept null hypothesis.

So there exist no cointegration.

## Checking co integration between CPI food and WPI food

In [8]:
x = pd.read_csv('Combine food.csv',index_col=0)
y = pd.read_csv('monthly data.csv',index_col=0)
df = pd.concat([y,x],axis=1)
df.columns = ['y','x']  
df.head()

                y      x
Date
2013-01-01  113.2  105.4
2013-02-01  113.9  106.4
2013-03-01  113.5  106.5
2013-04-01  114.7  107.5
2013-05-01  117.8  109.1

In [9]:
statsmodels.tsa.stattools.coint(y, x, trend='c', method='aeg', maxlag=None, autolag='aic', return_results=None)

(-4.127585034019493,
 0.004683950028316723,
 array([-3.99689757, -3.39122839, -3.08253469]))

The null hypothesis is no cointegration. Variables in y and x are assumed to be integrated of order 1, I(1).

If p value <=0.05 then we reject null hypothesis(No Cointegration)

here p-value is less than 0.05 so we reject null hypothesis.

So there exist cointegration.

## Checking co integration between CPI All comodities and WPI food

In [10]:
x = pd.read_csv('All comodities CPI.csv',index_col=0)
y = pd.read_csv('monthly data.csv',index_col=0)
df = pd.concat([y,x],axis=1)
df.columns = ['y','x']  
df.head()

                y      x
Date
2013-01-01  113.2  104.6
2013-02-01  113.9  105.3
2013-03-01  113.5  105.5
2013-04-01  114.7  106.1
2013-05-01  117.8  106.9

In [11]:
statsmodels.tsa.stattools.coint(y, x, trend='c', method='aeg', maxlag=None, autolag='aic', return_results=None)

(-5.255957197634385,
 5.4222691990557876e-05,
 array([-3.99689757, -3.39122839, -3.08253469]))

The null hypothesis is no cointegration. Variables in y and x are assumed to be integrated of order 1, I(1).

If p value <=0.05 then we reject null hypothesis(No Cointegration)

here p-value is less than 0.05 so we reject null hypothesis.

So there exist cointegration.